@model IEnumerable<PersonalWebApp.Models.About>

@{
    ViewData["Title"] = "Aboutindex";
    Layout = "~/Areas/Manage/Views/Shared/_AdminLayout.cshtml";
}

<h1>Aboutindex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descrition)
                </td>
                <td>
                    <a asp-action="AboutUpdate" asp-controller="Requirements" asp-route-Id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
